!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lunchgame
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'shared/navbar'
    .container-fluid
      - if flash[:notice]
        %p.alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        %p.alert.alert-warning
          = flash[:alert]
      =  yield
    - Rails.logger.debug { "End of layout, after yield" }
